**HANDLE NA'S missing data**

In [9]:
import pandas as pd
import numpy as np
data = {'age': [25, 30, np.nan, 35, 40], 
                'salary': [50000, 60000, 55000, np.nan, 65000]}
df = pd.DataFrame(data)
#handle this NA
#df.age.dropna()    #na falna lai
#df.age.fillna(0) 
#mean, median

#import matplotlib.pyplot as plt
#plt.boxplot(df.age.dropna());   #symmetrical chha vaye: mean , median j le varda pani hunchha

df.age.fillna(np.mean(df.age), inplace = True)
df

C:\Users\Venom\AppData\Local\Temp\ipykernel_12252\4021533578.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.age.fillna(np.mean(df.age), inplace = True)

    age   salary
0  25.0  50000.0
1  30.0  60000.0
2  32.5  55000.0
3  35.0      NaN
4  40.0  65000.0

**Encoding of Categorical Variables**

In [11]:
import pandas as pd
data = {'color': ['red', 'blue', 'green', 'blue', 'red']}
df = pd.DataFrame(data)

#encoding: text -> number

In [20]:

#from sklearn.preprocessing import OneHotEncoder
#one_hot = OneHotEncoder()
#one_hot.fit_transform(np.array(df.color).reshape(-1, 1))  #fit dekhne bittikai ML garya bujhne
#df.color euta series ho teslai reshape garna mildaina, np.array ma lageko mathi tei vayera
#one_hot.fit_transform((df.color.values.reshape(-1, 1))  #either np.array ma laga or values add garne
#data = {'color': ['red', 'blue', 'green', 'blue', 'red']}


from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()
one_hot = one_hot_encoder.fit_transform(np.array(df.color).reshape(-1, 1)).toarray()
pd.DataFrame(one_hot, columns = one_hot_encoder.get_feature_names_out(["color"]))
#OneHotEncoding : BOW model
#solution : TFIDF model
#embedding : word embeding attention model

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [21]:
import pandas as pd
data = {'color': ['red', 'blue', 'green', 'blue', 'red']}
df = pd.DataFrame(data)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
color_order = le.fit_transform(df.color)
df["color_order"] = color_order
df

   color  color_order
0    red            2
1   blue            0
2  green            1
3   blue            0
4    red            2

In [27]:
# using Target Encoder from category_encoders

# TargetEncoder
!pip install category_encoders

In [23]:
import pandas as pd

data = pd.DataFrame({
    'category': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'C'],
    'target': [1, 0, 1, 0, 0, 1, 1, 0]
})




#sabse gaaro and used encoder, Textmining
from category_encoders import TargetEncoder
te = TargetEncoder()
te.fit_transform(data.category, data.target)

   category
0  0.577233
1  0.429074
2  0.577233
3  0.474256
4  0.429074
5  0.474256
6  0.577233
7  0.474256

In [12]:
# normalization and scaling
# importance : 99% salary importance, age less importance (model): 
# normalization : [range] : biased towards big value

import pandas as pd
#sklearn: preprocessing :  model banauda vanda agadi : ramro hoss vanera use hune
data = {'age': [25, 30, 35, 40, 45], 'salary': [50000, 60000, 55000, 65000, 70000]}
df = pd.DataFrame(data)

#scaling or normalization:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#sc.fit_transform(df.age.values.reshape(-1, 1))
#sc.fit_transform(df[["age"]])  #df.age = df[["age"]]
sc.fit_transform(df[["salary"]])
                 
import numpy as np
print(np.mean(df.age))
print(np.std(df.age, ddof = 1))
#z = X - U/ sigma  =>  25-35 / 7.9056 :  standard scaling, z normalization

35.0
7.905694150420948

In [13]:
#reshape(-1, 1)  =  row, column
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
ms.fit_transform(df.age.values.reshape(-1,1))  #[0-1]

array([[0.  ],
       [0.25],
       [0.5 ],
       [0.75],
       [1.  ]])

In [15]:
# dimensionality reduction
# PCA 
import pandas as pd
from sklearn.decomposition import PCA
data = {'feature1': [2.5, 0.5, 2.2, 1.9, 3.1], 'feature2': [2.4, 0.7, 2.9, 2.2, 3.0]}
df = pd.DataFrame(data)

pca = PCA(n_components = 1)
pca.fit_transform(df)
#accuracy vs dimensionality

array([[ 0.44362444],
       [-2.17719404],
       [ 0.57071239],
       [-0.12902465],
       [ 1.29188186]])